h1 {
  color: aquamarine;
  text-align: center;
}

h2{
  text-align: center;
}

.center {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  text-align: center;
  width: 50%;
  padding: 20px;
  border: solid rgb(2, 0, 107);
  border-width: 20px;
  background-color: beige;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
 
.highlight {
  font-style: italic;
}